.blue {
    background-color: rgb(57, 236, 236);
    width: 300px;
    height: 350px;
    justify-items: center;
    text-align: center;
    border-radius: 10px;
}

.gray {
    background-color: gray;
    width: 250px;
    height: 250px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 30px;
}

img {
    width: 50px;
    height: 50px;
}

.info {
    margin-top: 20px;

}

.card {
    font-weight: bold;
    font-size: 20px;
}

.price {
    margin-top: 10px;
}

main {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

header {
    max-width: 100%;
    background-color: rgba(42, 212, 212, 0.911);
    height: 100px;
    display: flex;
    align-items: center;
}

h1 {
    margin-left:20px;
}

nav {
    margin-left: 400px;
}

ul {
    display: flex;
    gap: 40px;
    font-size: 30px;
    list-style-type: none;
    font-weight: 600;
}

.w img {
    width: 45px;
}


.ew img {
    border-radius: 50%;
    padding-left: -10px;
}

.nick {
    padding: 10px;
    background-color: rgb(4, 54, 70);
    color: white;
    border-radius: 30px;
}

.ex {
    padding: 10px;
    background-color: rgb(4, 54, 70);
    color: white;
    border-radius: 30px;
}
